<div class="copyright bg-gray">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12">
              <ul class="list-unstyled li-space-lg p-small">
                  <li><a href="article.html">Article Details</a></li>
                  <li><a href="terms.html">Terms &amp; Conditions</a></li>
                  <li><a href="privacy.html">Privacy Policy</a></li>
              </ul>
          </div> <!-- end of col -->
          <div class="col-lg-3 col-md-12 col-sm-12">
              <p class="p-small statement">Copyright © <a href="#">Your name</a></p>
          </div> <!-- end of col -->

          <div class="col-lg-3 col-md-12 col-sm-12">
              <p class="p-small statement">Distributed by <a href="https://themewagon.com/" target="_blank">Themewagon</a></p>
          </div> <!-- end of col -->
      </div> <!-- enf of row -->
  </div> <!-- end of container -->
</div>
