<div class="main">
    <div class="stat">
        <div id="div1">
            <div class="main-stat">
                <h4>
                   Etudiants
                </h4>
                <p id="main-container">
                    {{ nbreEtudiants }}
                </p>
                <p id="container-footer">
    
                </p>
            </div>
        </div>
        <div id="div2">
            <div class="main-stat">
                <h4>
                    Filieres
                </h4>
                <p id="main-container">
                    {{ nbreFilieres }}
                </p>
                <p id="container-footer">
    
                </p>
            </div>
        </div>
        <div id="div3">
            <div class="main-stat">
                <h4>
                   Année Academiques
                </h4>
                <p id="main-container">
                    {{ nbreAnnAc }}
                </p>
                <p id="container-footer">
                    Le Nombre d'Anne Academiques
                </p>
            </div>
        </div>
        <div id="div4">
            <div class="main-stat">
                <h4>
                    Inscription
                </h4>
                <p id="main-container">
                    {{ nbreInscriptions }}
                </p>
                <p id="container-footer">
                    Le Nombre d'Inscriptions
                </p>
            </div>
        </div>
        <div id="div5">
            <div class="main-stat">
                <h4>
                    Autres
                </h4>
                <p id="main-container">
    
                </p>
                <p id="container-footer">
    
                </p>
            </div>
        </div>
    </div>
</div>