<div class="slider-1">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h4>Trusted by over <span class="blue">5000</span> customers worldwide</h4>
              <hr class="section-divider">

              <!-- Image Slider -->
              <div class="slider-container">
                  <div class="swiper-container image-slider swiper-container-horizontal">
                      <div class="swiper-wrapper" style="transform: translate3d(-1865.6px, 0px, 0px); transition-duration: 0ms;"><div class="swiper-slide swiper-slide-duplicate" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="1">
                              <img class="img-fluid" src="./assets/images/customer-logo-2.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="2">
                              <img class="img-fluid" src="/assets/images/customer-logo-3.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="3">
                              <img class="img-fluid" src="/assets/images/customer-logo-4.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="4">
                              <img class="img-fluid" src="/assets/images/customer-logo-5.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="5">
                              <img class="img-fluid" src="/assets/images/customer-logo-6.png" alt="alternative">
                          </div>
                          <div class="swiper-slide" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="0">
                              <img class="img-fluid" src="/assets/images/customer-logo-1.png" alt="alternative">
                          </div>
                          <div class="swiper-slide" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="1">
                              <img class="img-fluid" src="/assets/images/customer-logo-2.png" alt="alternative">
                          </div>
                          <div class="swiper-slide swiper-slide-prev" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="2">
                              <img class="img-fluid" src="/assets/images/customer-logo-3.png" alt="alternative">
                          </div>
                          <div class="swiper-slide swiper-slide-active" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="3">
                              <img class="img-fluid" src="/assets/images/customer-logo-4.png" alt="alternative">
                          </div>
                          <div class="swiper-slide swiper-slide-next" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="4">
                              <img class="img-fluid" src="/assets/images/customer-logo-5.png" alt="alternative">
                          </div>
                          <div class="swiper-slide" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="5">
                              <img class="img-fluid" src="/assets/images/customer-logo-6.png" alt="alternative">
                          </div>
                      <div class="swiper-slide swiper-slide-duplicate" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="0">
                              <img class="img-fluid" src="/assets/images/customer-logo-1.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="1">
                              <img class="img-fluid" src="/assets/images/customer-logo-2.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-prev" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="2">
                              <img class="img-fluid" src="/assets/images/customer-logo-3.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="3">
                              <img class="img-fluid" src="/assets/images/customer-logo-4.png" alt="alternative">
                          </div><div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-next" style="width: 183.2px; margin-right: 50px;" data-swiper-slide-index="4">
                              <img class="img-fluid" src="/assets/images/customer-logo-5.png" alt="alternative">
                          </div></div> <!-- end of swiper-wrapper -->
                  <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div> <!-- end of swiper container -->
              </div> <!-- end of slider-container -->
              <!-- end of image slider -->

          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div>
