<div class="basic-3">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-container">
                  <h2>Find the right influencer for your product</h2>
                  <p class="p-large">Eu convallis arcu ultrices in. Mauris ornare libero et pharetra hendrerit. Curabitur elementum lectus quis vioc tellus</p>
                  <a class="btn-solid-lg" href="#contact">Get free quote</a>
              </div> <!-- end of text-container -->
          </div> <!-- end of col -->
      </div> <!-- end of row -->
  </div> <!-- end of container -->
</div>
